certifi==2020.12.5
chardet==4.0.0
idna==2.10
requests==2.25.1
tika==1.24
urllib3==1.26.2

# Requirments.txt was incorrect. Added correct from chrismattamann repo

setuptools
requests
pyyaml==5.2
python-coveralls
pytest-cov<2.6
